<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>428182619341-hkp28a77s5p56latavu3pj2qiiajv96v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.428182619341-hkp28a77s5p56latavu3pj2qiiajv96v</string>
	<key>API_KEY</key>
	<string>AIzaSyBeRY0dP8jv2R7SGszyXX4mSa5Q-zefXdM</string>
	<key>GCM_SENDER_ID</key>
	<string>428182619341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>licenta-5e698</string>
	<key>STORAGE_BUCKET</key>
	<string>licenta-5e698.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428182619341:ios:db2a8de5c3f4b7b2dc5584</string>
</dict>
</plist>